<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>A tweetbot for Victoria and Albert Museum events</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
    <h2>
        A simple Tweetbot for best of the day events
    </h2>
    <hr>
    You may also be interested in the ical feed!
        <a href="http://vam-cal.appspot.com/ical">
            vam-cal.appspot.com/ical
        </a>
    <hr>
</header>

</body>
</html>